<p>Hello Admiral</p>

<p>Fleet Crew Roster</p>

<% @crew.each do |crew| %>
  <div>
   <a href="/crew/<%= crew.id %>" > <li><%= crew.name %></li>
  </div>
<% end %>

<br>

<a href="/crew/new"> Add a Crew Member your Fleet </a>