<h1>Add Crew Member</h1>

<form action="/crew" method="POST">
  <label> Name </label>
  <input type="text" name="name"> </br>

  <label> Rank </label>
  <input type="text" name="rank"> </br>

  <label> Species </label>
  <input type="text" name="species"> </br>

  <label> Affiliation </label>
  <input type="text" name="affiliation"> </br>

  <input type="submit" value="Create">
</form>

<a href="/"> Home </a>