<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/ships' method="post">
    Create Ship:
    <input type="text" name="name"><br>
    <input type="text" name="class"><br>
    <input type="text" name="registry"><br>
    <input type="text" name="affiliation"><br>

    Create Your Ship:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Change the Fleet </h1>
  <% end %>