<p> Welcome, <%= current_user.username %>
<h2> Fleet Disposition </h2>

<p>Hello Admiral</p>

<p>Fleet Roster</p>

<% @ships.each do |ship| %>
  <div>
   <a href="/ships/<%= ship.id %>" > <li><%= ship.name %></li>
  </div>
<% end %>

<br>

<a href="/ships/new"> Add a Ship to your Fleet </a>

<br>
<br>

<a href="/crew"> View Crew Roster </a>

<a href="/"> Home </a>