<h1>Add a New Ship</h1>

<form action="/ships" method="POST">
  <label> Ship Name </label>
  <input type="text" name="name"> </br>

  <label> Ship Class </label>
  <input type="text" name="klass"> </br>

  <label> Ship Registry </label>
  <input type="text" name="registry"> </br>

  <label> Ship Affiliation </label>
  <input type="text" name="affiliation"> </br>

  <input type="submit" value="Create">
</form>

<a href="/"> Home </a>