<!doctype html>
<html>
<h2>Welcome to Fleet Command</h2>
<p>Please sign in or register your new clearance below:</p><nav>
  
  
  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %></p>
    <a href="/ships"> Fleet Dispoistion </a>
    <a href="/crew"> Crew Roster </a>
    <a href="/logout"> Log Out </a>
    

  <% else %>
    <a href="/signup">Register Clearance</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
</html>