<!doctype html>
<html>
<% if logged_in?%>
<a href="/logout"> Log Out </a>
<%end%>
<h2>Welcome to Fleet Command</h2>


  
  
  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %></p>
    <a href="/ships"> Fleet Disposition </a>
    <br>
    <a href="/crew"> Crew Roster </a>
    
    

  <% else %>

  <p>Please sign in or register your new clearance below:</p><nav>

  
    <a href="/signup">Register Clearance</a>
    <br>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
</html>